.result-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;

    &__block-info {
        display: flex;
        width: 100%;    
    }

    &__block-info-sec {
        font-size: 1.5rem;
    }

    &__block-first {
        font-size: 4rem;
        display: flex;
        align-items: center;
    }

    &__block-table {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        width: 50%;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        margin: 1rem 0;
        font-size: 1.5rem;
        border: solid #595959 1px;
        background-color: #ffffff;
    }

    &__best-item {
        font-weight: bold;
        font-size: 1.5rem;
    }
}
