<div class="container first-step-container">
    <div class="page-header">
        Постановка задачи
    </div>

    <div class="first-step-container__default-block">
        <div class="first-step-container__default-block-title">Альтернативы</div>

        <form class="first-step-container__alternatives-add-form" [formGroup]="addAlternativesForm" (ngSubmit)="addAlternative()">
            <input
                type="text"
                autocomplete="off"
                formControlName="name"
                placeholder="Введите название альтернативы"
                maxlength="50"
            >
            <div class="default-button" type="submit" (click)="addAlternative()">
                <span>Добавить</span>
            </div>
        </form>

        <div class="first-step-container__default-list-item" *ngFor="let alternative of alternatives; let i = index">
            {{ i + 1 }}. {{ alternative.name }}

            <fa-icon
                class="first-step-container__alternatives-list-item-delete-btn"
                [icon]="faTimesCircle"
                (click)="deleteAlternative(alternative.id)"
            ></fa-icon>
        </div>
    </div>

    <div class="first-step-container__default-block">
        <div class="first-step-container__default-block-title">Критерии</div>

        <table class="first-step-container__criterions-list-table">
            <tr>
                <th>Название</th>
                <th>Включён/Выключен</th>
                <th>Макс/Мин</th>
                <th>Вес</th>
            </tr>
            <tr *ngFor="let criterion of criterions; let i = index" [ngClass]="{ 'tr-diff-back': i % 2 === 0 }">
                <td class="first-step-container__item-option-td-name">
                    {{ i + 1 }}. {{ criterion.name }}

                    <div class="first-step-container__crit-hint" *ngIf="criterion.hint">
                        <fa-icon
                            class="first-step-container__alternatives-list-item-delete-btn"
                            [icon]="faExclamationCircle"
                        ></fa-icon>
                        <div class="first-step-container__crit-hint-text">
                            {{ criterion.hint }}
                        </div>
                    </div>
                </td>
                <td class="first-step-container__item-option-td-checkbox">
                    <div class="checkbox">
                        <input type="checkbox" [id]="criterion.id + 'active'" [(ngModel)]="criterion.active"/>
                        <label class="checkbox__label" [for]="criterion.id + 'active'">
                            <span class="checkbox__indicator"></span>
                        </label>
                    </div>
                </td>
                <td class="first-step-container__item-option-td-radio" [ngClass]="{ 'disabled-element': !criterion.active }">
                    <div class="radiobtn-container">
                        <div class="radiobtn">
                            <input
                                type="radio"
                                [id]="criterion.id + 'stateMin'"
                                [name]="criterion.id + 'radio'"
                                [(ngModel)]="criterion.state"
                                [value]="criterionState.Min"
                                [disabled]="criterion.active ? null : true"
                            />
                            <label class="radiobtn__label" [for]="criterion.id + 'stateMin'">
                                <span class="radiobtn__indicator"></span>Min
                            </label>
                        </div>
                        <div class="radiobtn">
                            <input
                                type="radio"
                                [id]="criterion.id + 'stateMax'"
                                [name]="criterion.id + 'radio'"
                                [(ngModel)]="criterion.state"
                                [value]="criterionState.Max"
                                [disabled]="criterion.active ? null : true"
                            />
                            <label class="radiobtn__label" [for]="criterion.id + 'stateMax'">
                                <span class="radiobtn__indicator"></span>Max
                            </label>
                        </div>
                    </div>
                </td>
                <td [ngClass]="{ 'disabled-element': !criterion.active }">
                    <div class="td-container">
                        <input
                            class="table-input"
                            type="number"
                            autocomplete="off"
                            [(ngModel)]="criterion.weight"
                            [disabled]="criterion.active ? null : true"
                        >
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div>Вместо ввода весов вы можете использовать <a (click)="$event.preventDefault(); goToSpecMethod()">специальный метод</a></div>

    <div class="btn-group">
        <div class="default-button" [routerLink]="['/']">
            <span>На главную</span>
        </div>

        <div class="default-button" (click)="goToFill()">
            <span>Перейти к заполнению таблицы значений</span>
        </div>
    </div>

</div>
