<div class="container home">
    <div class="home__text-block">
        Данная подсистема поддержки принятия решения автоматизирует процесс выбора наилучшего поставщика, который осуществляется с помощью методов многокритериального оценивания TOPSIS и VICOR.
    </div><br>
    <div class="home__text-block">
        Многокритериальное принятие решений (Multi-criteria decision making (MCDM)) – это выбор наилучшего решения из конечного набора альтернатив с точки зрения нескольких противоречивых критериев. Методы многокритериального оценивания могут помочь лицу, принимающему решение, в выборе наилучшей альтернативы.
    </div><br>

    <div class="home__h1-tite">
        Метод TOPSIS
    </div>

    <div class="home__text-block">
        Метод TOPSIS (Technique for Order Preference by Similarity to an Ideal Solution) – метод наименьшего удаления от идеального решения.
    </div><br>
    <div class="home__text-block">
        Основная идея метода TOPSIS заключается в том, что наиболее предпочтительная альтернатива должна иметь не только наибольшую близость к идеальному решению, но и быть дальше всех остальных альтернатив от неприемлемого решения.
    </div><br>

    <div class="home__h1-tite">
        Метод VICOR
    </div>
    <div class="home__text-block">
        Метод VIKOR (VIseKriterijumska Optimizacija I Kompromisno Resenje) определяет компромиссное решение при помощи компромиссного ранжирования.
    </div><br>
    <div class="home__text-block">    
        Метод основан на ранжировании и выборе из набора альтернатив по различным критериям. Предполагая, что каждая альтернатива оценивается по каждому критерию, компромиссное решение может быть получено путем сравнения меры близости к идеальной альтернативе.
    </div><br>
    <div class="home__text-block">
        В данном методе присутствует коэффициент v, отображающий стратегию лица, принимающего решения, (стратегии: «большинство голосов» , «консенсус» , «вето» , по умолчанию используют стратегию «консенсус» и принимают ) и влияющий на устойчивость итогового компромиссного решения.
    </div><br>

    <div class="home__h2-tite">
        Для определения наилучшей альтернативы методами TOPSIS и VICOR требуется:
    </div>
    <ul class="home__text-block home__text-container">
        <li>Добавить альтернативы.</li>
        <li>Выбрать необходимые критерии из предложенного множества критериев.</li>
        <li>Выбрать направление оптимизации критериев, т.е. указать является критерий максимизируемым (max) или минимизируемым (min).</li>
        <li>Ввести весовые коэффициенты значимости критериев (в сумме они должны быть всегда равны 1) или определить весовые коэффициенты значимости с помощью метода попарного сравнения по абсолютной важности.</li>
        <li>Ввести коэффициент v. Его значение всегда должны быть от 0 до 1.</li>
        <li>Ввести значения альтернатив по каждому выбранному критерию.</li>
    </ul>

    <div class="home__h1-tite">
        Попарное сравнение по абсолютной важности
    </div>
    <div class="home__text-block">
        Данный метод используется для определения весовых коэффициентов значимости критериев. Проводится в порядковой шкале, путем сравнения всех возможных пар объектов.
    </div><br>

    <div class="home__h2-tite">
        Для определения весовых коэффициентов значимости методом попарного сравнения по абсолютной важности требуется:
    </div>
    <ul class="home__text-block home__text-container">
        <li>Выбрать необходимые критерии из предложенного множества критериев.</li>
        <li>Выбрать направление оптимизации критериев, т.е. указать является ли критерий максимизируемым (max) или минимизируемым (min).</li>
        <li>Ввести свои предпочтения в матрице парных сравнений критериев по их важности, где «0» – альтернатива в i-ой строке менее предпочтительна, чем альтернатива в j-ом столбце, «1» – альтернатива в i-ой строке и альтернатива в j-ом столбце одинаково предпочтительны, «2» – альтернатива в i-ой строке более предпочтительна, чем альтернатива в j-ом столбце.</li>
    </ul>

    <div class="default-button home__big-btn" type="submit" (click)="goToCalc()">
        <span>Вычисления</span>
    </div>
</div>