<div class="container">
    <div class="page-header">
        Попарное сравнение по абсолютной важности
    </div>

    <table>
        <tr>
            <th></th>
            <th *ngFor="let criterion of criterions">
                {{ criterion.name }}
            </th>
        </tr>
        <tr *ngFor="let criterionLine of criterions; let i = index" [ngClass]="{ 'tr-diff-back': i % 2 === 0 }">
            <td>
                {{ criterionLine.name }}
            </td>
            <td class="first-step-container__item-option-td-radio" *ngFor="let criterionColumn of criterions">
                <div class="radiobtn-container">
                    <div class="radiobtn">
                        <input
                            type="radio"
                            [id]="criterionLine.id.toString() + criterionColumn.id.toString() + 'min'"
                            [name]="criterionLine.id.toString() + criterionColumn.id.toString() + 'radio'"
                            [checked]="getRelationValue(criterionLine, criterionColumn) === 0"
                            (click)="setRelationsValue($event, criterionLine, criterionColumn)"
                            [value]="0"
                        />
                        <label class="radiobtn__label" [for]="criterionLine.id.toString() + criterionColumn.id.toString() + 'min'">
                            <span class="radiobtn__indicator"></span>0
                        </label>
                    </div>

                    <div class="radiobtn">
                        <input
                            type="radio"
                            [id]="criterionLine.id.toString() + criterionColumn.id.toString() + 'middle'"
                            [name]="criterionLine.id.toString() + criterionColumn.id.toString() + 'radio'"
                            [checked]="getRelationValue(criterionLine, criterionColumn) === 1"
                            (click)="setRelationsValue($event, criterionLine, criterionColumn)"
                            [value]="1"
                        />
                        <label class="radiobtn__label" [for]="criterionLine.id.toString() + criterionColumn.id.toString() + 'middle'">
                            <span class="radiobtn__indicator"></span>1
                        </label>
                    </div>

                    <div class="radiobtn">
                        <input
                            type="radio"
                            [id]="criterionLine.id.toString() + criterionColumn.id.toString() + 'max'"
                            [name]="criterionLine.id.toString() + criterionColumn.id.toString() + 'radio'"
                            [checked]="getRelationValue(criterionLine, criterionColumn) === 2"
                            (click)="setRelationsValue($event, criterionLine, criterionColumn)"
                            [value]="2"
                        />
                        <label class="radiobtn__label" [for]="criterionLine.id.toString() + criterionColumn.id.toString() + 'max'">
                            <span class="radiobtn__indicator"></span>2
                        </label>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div class="btn-group">
        <div *ngIf="!criterionsCalculated" class="default-button" [routerLink]="['/calc']">
            <span>Назад</span>
        </div>

        <div class="default-button" (click)="calcWeights()">
            <span>Посчитать веса критериев</span>
        </div>
    </div>

    <div class="first-step-container__default-block" *ngIf="criterionsCalculated">
        <div class="first-step-container__default-block-title">Критерии</div>

        <table class="first-step-container__criterions-list-table">
            <tr>
                <th>Название</th>
                <th>Вес</th>
            </tr>
            <tr *ngFor="let criterion of criterions; let i = index" [ngClass]="{ 'tr-diff-back': i % 2 === 0 }">
                <td class="first-step-container__item-option-td-name">
                    {{ i + 1 }}. {{ criterion.name }}
                </td>
                <td [ngClass]="{ 'disabled-element': !criterion.active }">
                    <div class="td-container">
                        <input
                            class="table-input"
                            type="text"
                            mask="0*.0*"
                            autocomplete="off"
                            [(ngModel)]="criterion.weight"
                            [disabled]="criterion.active ? null : true"
                        >
                    </div>
                </td>
            </tr>
        </table>

        <div class="btn-group">
            <div class="default-button" [routerLink]="['/calc']">
                <span>Назад</span>
            </div>
    
            <div class="default-button" (click)="goNextStep()">
                <span>Перейти дальше</span>
            </div>
        </div>
    </div>

</div>