$width-mobile: 320px;
$width-tablet-s: 480px;
$width-tablet-m: 768px;
$width-tablet-l: 992px;
$width-laptop: 1024px;
$width-desktop: 1280px;
$width-desktop-hd: 1366px;
$width-design: 1440px;
$color-prime: #4f9863;
$color-second: #242a2e;
$color-text: #303030;
$color-text-light: #767676;
$color-text-medium: #969696;
$color-body: #f4f4f4;
// Цвета используемые для уведомлений:начало
$color-info: #f4f4f4;
$color-success: #4f9863;
$color-error: #ee3524;
// Цвета используемые для уведомлений:конец
$color-warning: #ffc11e;
$hover-time: 0.2s;
