@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import '../node_modules/angular-notifier/styles.scss';

@import '../src/assets/styles/variables';
@import '../src/assets/styles/mixins';
@import '../src/assets/styles/blocks/checkbox';
@import '../src/assets/styles/blocks/radiobtn.scss';

$color: #4f9863;

html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #000000;
    border-color: #595959;
    background-color: #d2d2d2;
}

*, *:before, *:after {
    box-sizing: inherit;
}

notifier-container {
    width: 0 !important;
    height: 0 !important;
}

notifier-notification {
    display: flex !important;
    align-items: center !important;
}

.notifier__notification-message {
    font-size: 0.8rem !important;
    letter-spacing: 0.8px !important;
    line-height: 1.1rem !important;
    max-width: 300px !important;
}

.container {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-block {
    font-size: 0.8rem;
    width: 100%;
    text-align: left;
    color: #bf0000;
    margin: 0.5rem 0;
    font-weight: bold;
}

input::-webkit-input-placeholder {
    font-family: 'roboto', sans-serif;
    transition: all 0.3s ease-in-out;
}

input {
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    display: block;
    border: none;
    border-bottom: solid 1px $color;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%);
    background-position: -1980px 0;
    background-size: 1980px 100%;
    background-repeat: no-repeat;
    color: #000000;
    &:focus {
        box-shadow: none;
        outline: none;
        background-position: 0 0;
        &::-webkit-input-placeholder {
            color: $color;
            font-size: 11px;
            transform: translateY(-20px);
            visibility: visible !important;
        }
    }
}

.default-button {
    padding: 0 1rem;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0.5rem 0 0;
    min-height: 35px;
    max-height: 35px;
    background: $color;
    position: relative;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    span {
        padding: 0 2.5rem;
        font-size: 12px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.7px;
        white-space: nowrap;
    }

    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: white;
    &:hover {
        box-shadow: none;
    }
    &:active {
        opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    }
    &:focus {
        outline: none;
    }
}

form {
    width: 100%;
}

td {
    display: table-cell;
    text-align: center;
}

.td-container {
    width: 100px;
    display: flex;
    overflow: hidden;
    height: 24px;
}

.table-input {
    padding: 0;
}

.disabled-element {
    opacity: 0.2;
    pointer-events: none;
}

a {
    color: #4f9863;
}

select {
    color: #000000;
    border-color: #595959;
    background-color: #d2d2d2;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

option {
    cursor: pointer;
    border: none;
    padding: 0.2rem;
}

.tr-diff-back {
    background-color: #9c9c9c;
}
